@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,400;1,800&display=swap');

:root{
    --clr-primary-purple:hsl(259, 100%, 65%);
    --clr-primary-red:hsl(0, 100%, 67%);

    --clr-neutral-white-100:hsl(0, 0%, 100%);
    --clr-neutral-white-200:hsl(0, 0%, 94%);
    --clr-neutral-grey-100:hsl(0, 0%, 86%);
    --clr-neutral-grey-400:hsl(0, 1%, 44%);
    --clr-neutral-black:hsl(0, 0%, 8%);

    --fw-400i:400 italic;
    --fw-700:700;
    --fw-800:800 italic;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
    line-height: 1.7;
    -webkit-font-smoothing: antialiased;
}

/*
  5. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/*
  6. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
    font: inherit;
}

/*
  7. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/*8. Create a root stacking context */
#root,
#__next {
    isolation: isolate;
}

/*General styling*/
body{
    font-family: poppins, sans-serif;
    font-size: 1rem;
    min-height: 100vh;
    background-color: var(--clr-neutral-white-200);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.main-container{
    background-color: var(--clr-neutral-white-100);
    border-radius: 2rem 2rem 10rem 2rem;
    width: 750px;
    height: 550px;
    display: flex;
    flex-direction: column;
    gap:2rem;
    padding-inline:1.5rem;
    padding-block:1rem;
}

.sub-container{
    padding:2rem;
}

.input-section{
    display: flex;
    margin-bottom: 10px;
}

form{
    display:flex;
    gap:1rem;
}

section{
    display:grid;
    gap: .5rem;
    position: relative;
}

label{
    font-size: 0.75rem;
    font-weight: var(--fw-400i);
    letter-spacing: 0.25em;
    color:var(--clr-neutral-grey-400)
}

.error{
    font-size: 0.75rem;
    font-style: italic;
    font-weight: var(--fw-400i);
    color: var(--clr-primary-red);
    position: absolute;
    bottom: -1.5rem;
}

.active {
    color: hsl(0, 100%, 67%);
}

.error-Active {
    border-color: hsl(0, 100%, 67%) !important;
}

input{
    width: 140px;
    font-size: 1.25rem;
    font-weight: var(--fw-400i);
    outline: none;
    border-radius: 8px;
    padding: 0.75rem 1rem;
    border: 1px solid var(--clr-neutral-grey-100);
    color: var(--clr-neutral-black);
}

input:focus {
    border: solid 1px var(--clr-primary-purple);
}

input[type="number"] {
    appearance: textfield;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    appearance: textfield;
}


/*Middle Button section*/
.middle{
    display: flex;
    justify-content: center;
    align-items: center;
}

.button{
    position: relative;
    background: transparent;
    border: none;
    z-index: 10;
    padding: 0;
}

.button img{
    cursor: pointer;
    border: none;
    border-radius: 100%;
    background:var(--clr-primary-purple);
    padding: 1.2rem;
    outline: 2px solid var(--clr-primary-purple);
    outline-offset: -2px;
    transition: 0.3s;
}

.middle::after{
        content: '';
        width: 100%;
        background: var(--clr-neutral-grey-400);
        position: absolute;
}

.button img:hover::after{
    scale: 0.95;
}

.button img:hover{
    background: var(--clr-neutral-black);
    outline: 2px solid var(--clr-neutral-black);
    outline-offset: 3px;
    scale: 1.05;
}

.button img:active{
    scale: 0.95;
}


hr{
    flex:1;
    color: var(--clr-neutral-white-200);
    opacity: 0.3;
}

.right-line{
    display: none;
}

/*Bottom output section*/

.output-section{
    margin-top: 20px;
}
.output{
    margin-top: -40px;
}
.output-section p{
    font-size: 4.5rem;
    color: var(--clr-neutral-black);
    font-weight: var(--fw-700);
    font-style: italic;
    letter-spacing: 3px;
}

.output-section p span{
    color: var(--clr-primary-purple);
    padding-right: 10px;
}

/*Media Queries mobile screen*/
@media screen and (max-width:710px){
    .main-container{
        width: 350px;
        height: 600px;
        position: relative;
        transition: smooth 0.3s;
        border-radius: 1rem 1rem 8rem 1rem;
    }

    .sub-container{
        padding:0;
        margin-top: 30px;
    }

    input{
        width: 90px;
    }

    .error{
        position: absolute;
        bottom: -3rem;
    }

    .right-line{
        display: block;
    }

    .middle{
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .middle img{
        padding: 1.6rem;
    }
    .output-section{
        margin-top: 40px;
    }

    .output{
        padding-top: 15px; 
    }
    .output-section p{
        font-size: 3rem;
    }
    .output-section p span{
        padding-left: 5px;
    }
}

/* REDUCE MOTION ========= */
@media (prefers-reduced-motion: reduce) {
    * {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}
